<%- title "JRNLD - list of entries" %>

<div class="entry-container mt-5 py-3 py-md-5 px-3 px-md-5">
  <br>
  <h2 class="text-center" style="color:#891B00">My Entries</h2>
  <div class="bg-white">
    <div class="row justify-content-end px-3 align-items-center">
      <span class="entries-return btn-solid"><i class="fas fa-globe-americas"></i> <%= link_to "Map View", map_path %></span>
    </div>

    <div class="row justify-content-center">
      <div class="w-100 px-3">
        <%= simple_form_for :search, url: entries_path, method: "GET", html: { id: "filtering-index-form" } do |f| %>
        <div class="row justify-content-start">
          <div class="col-3">
            <%= f.input :date_range, label:false, placeholder: "Filter by date", as: :string, input_html: { class: 'datepicker' } %>
          </div>
          <div class="col-9">
            <%= f.input :query, label: false, placeholder: "Search by location, tag, or entry text...", input_html: { autocomplete: "off" } %>
          </div>
        </div>
        <% end %>
      </div>
    </div>


    <% if @entries.empty? && @query.present? %>
    <div class="row justify-content-center">
      <h3 class="m-3"><em>No entries found for <b><%= @query %></b>. Search again.</em></h3>
    </div>
    <% else %>
    <% if !@query.nil? %>
    <div class="row justify-content-center">
      <h3 class="m-3"><em>Showing <%= @entries.length %> result(s) for <b><%= @query %></b>...</em></h3>
    </div>
    <% end %>
    <div class="row justify-content-left">
      <% @entries.each do |entry| %>
      <div class="holder mb-4 col-xs-12 col-md-6">
        <%= link_to entry_path(entry.id) do %>
        <div class="d-flex flex-column justify-content-between entry-card p-3 h-100">
          <div class="d-flex">
            <div class="py-1 d-flex flex-column justify-content-center rounded shadow index-entry-date" style="">
              <span class="text-center"><%= Date::ABBR_MONTHNAMES[entry.created_at.month].upcase %></span>
              <h1 class="text-center m-0 pt-1"><%= entry.created_at.day %></h1>
              <span class="text-center"><%= entry.created_at.year %></span>
            </div>
            <div class="d-flex flex-column justify-content-center px-3 entry-information" style="width: 80%">
              <h4 class="entry-header mb-1"><%= entry.title.truncate(30, omission: "...") %></h4>
              <p class="mb-0 pl-1"><i class="fas fa-thumbtack"></i> <%= entry.location %></p>
            </div>
          </div>
          <div class="my-4">
            <span><em>"<%= entry.content.truncate(350, omission: "...") %>"</em></span>
          </div>
          <div class="d-flex justify-content-end align-items-center flex-wrap">
            <% entry.entry_tags.each do |entry_tag| %>
            <div class="tag px-2 mr-1 mt-1">
              <span><%= Tag.find(entry_tag.tag_id).title %></span>
            </div>
            <% end %>
            <%= render "shared/emoji", emoji: entry.emoji, margin_bottom: 0 %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="row justify-content-center">
      <% if @query.present? %>
        <%= link_to "Show all", entries_path, class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>

