<div class="entry-container m-5" style="min-height: 80vh">
  <br>
  <div class="large-card p-2 bg-white mt-1 p-3">
    <div class="row justify-content-between px-3 align-items-center">
      <h1 class="mb-0"><em>My Entries</em></h1>
      <span class="entries-return btn-solid"><i class="fas fa-globe-americas"></i> <%= link_to "Map View", map_path %></span>
    </div>

    <div class="row justify-content-center">
      <div class="w-100 px-3">
        <%= simple_form_for :search, url: entries_path, method: "GET", html: { class: '' } do |f| %>
        <div>
        <%= f.input :query, label: false, placeholder: "Search for...", input_html: { class: '' } %>
        </div>
        <% end %>
    </div>
    </div>

    <div class="row justify-content-center">
      <% @entries.each do |entry| %>
        <div class="holder mb-4 col-xs-12 col-md-6 col-lg-4">
          <%= link_to entry_path(:id) do %>
            <div class="d-flex flex-column justify-content-center entry-card p-2" style="background-color:#F0F0F0">
              <div class="d-flex">
                <div class="date py-1 d-flex flex-column justify-content-center rounded shadow" style="width: 20%; color: white">
                  <span class="text-center"><%= Date::ABBR_MONTHNAMES[entry.created_at.month].upcase %></span>
                  <h1 class="text-center mb-0"><%= entry.created_at.day %></h1>
                </div>
                <div class="d-flex flex-column justify-content-center px-2 entry-information">
                  <h2 class="mb-1"><b><%= entry.title %></b></h2>
                  <h6 class="mb-0 pl-1"><b><%= entry.location %></b></h6>
                </div>
              </div>
              <div class="my-2">
                <span><em>"<%= entry.content.truncate(350, omission: "...") %>"</em></span>
              </div>
              <div class="d-flex justify-content-end align-items-center flex-wrap">
                <% entry.entry_tags.each do |entry_tag| %>
                  <div class="tag px-2 mr-1 mt-1">
                    <span><%= Tag.find(entry_tag.tag_id).title %></span>
                  </div>
                <% end %>
                <i class="fas fa-smile mt-1"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="row justify-content-center">
      <span class="entries-return btn-solid"><%= link_to "See to all entries", entries_path %></span>
    </div>
  </div>
</div>

