<br>

<div class="container border p-3 mt-5">
  (body)

  <div class="row row-cols-1 row-cols-lg-2 border">
    <div class="col-lg-3 order-2 order-lg-1 border">
      <p>Reminders:</p>
      <% @reminders.each do |reminder| %>
        <button type="button" class="btn btn-outline-info btn-sm mb-2" id="btn-reminder"><%= reminder.title %></button>
      <% end %>
    </div>

    <div class="col-lg-9 order-1 order-lg-2 border">
      <div class="border">
        (tags)
      </div>

      <div class="border">
        <%= simple_form_for [@entry] do |f| %>
          <%= f.input :title, input_html: { class: 'form-control' } %>
          <%= f.input :content, input_html: { class: 'form-control' } %>
          <%= f.input :location, input_html: { class: 'form-control' } %>
          <%= f.button :submit, class: "btn btn-solid" %>
        <% end %>
      </div>
    </div>
  </div>

</div>
