<br>

<div class="container p-3 mt-5">
  <div class="row row-cols-1 row-cols-lg-2 border rounded-sm p-3" id="new-entry">
    <div class="col-lg-3 order-2 order-lg-1">
      <p>Reminders:</p>
      <% @reminders.each do |reminder| %>
          <button type="button" data-content="<%= JSON.generate({ id: reminder.id, title: reminder.title }) %>" class="btn btn-ghost btn-sm mb-2" id="btn-reminder-<%= reminder.id %>"><%= reminder.title %></button>
      <% end %>
    </div>

    <div class="col-lg-9 order-1 order-lg-2">
      <%= simple_form_for [@entry] do |f| %>
        <%= f.association :tags, placeholder: 'Entry tags...', label: false, collection: current_user.tags.uniq.sort_by { |t| t.title }, input_html: { class: 'select2 no-border', multiple: "multiple", id: 'entry-tags-div', placeholder: '' } %>
        <%= f.input :title, placeholder: 'Title', label: false, input_html: { class: 'form-control no-border' } %>
        <%= f.input :content, placeholder: 'What\'s on your mind?', label: false, input_html: { class: 'form-control no-border', rows: 5 } %>
        <%= f.hidden_field :start_entry %>
        <div class="row row-cols-1 row-cols-md-2">
        <div class="col pb-2">
          <%= f.input :location, placeholder: 'Current location', label: false, input_html: { class: 'form-control auto-address no-border', id: "input-entry-page" }, wrapper_html: { style: 'display: inline; text-indent: 1em;' }%>
        </div>
        <div class="col pb-2">
        <ul class="feedback d-flex justify-content-start justify-content-md-end pl-2" id="emoji-list">
          <li class="angry">
            <div>
              <svg class="eye left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="eye right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="mouth">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                  <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                </svg>
              </svg>
            </div>
          </li>
          <li class="sad">
            <div>
              <svg class="eye left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="eye right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="mouth">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                  <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                </svg>
              </svg>
            </div>
          </li>
          <li class="ok">
            <div></div>
          </li>
          <li class="good active">
            <div>
              <svg class="eye left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="eye right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="mouth">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                  <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                </svg>
              </svg>
            </div>
          </li>
          <li class="happy">
            <div>
              <svg class="eye left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
              <svg class="eye right">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                </svg>
              </svg>
            </div>
          </li>
        </ul>
        </div>
        </div>
        <%= f.hidden_field :emoji, value: "good", id: "emoji-value"%>
        <div class="d-flex justify-content-start justify-content-md-end">
          <%= f.button :submit, class: "btn btn-solid" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
