<br>

<div class="container p-3 mt-5" id="new-entry">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col-lg-3 order-2 order-lg-1">
      <p>Reminders:</p>
      <% @reminders.each do |reminder| %>
          <button type="button" data-content="<%= JSON.generate({ id: reminder.id, title: reminder.title }) %>" class="btn btn-outline-info btn-sm mb-2" id="btn-reminder-<%= reminder.id %>"><%= reminder.title %></button>
      <% end %>
    </div>

    <div class="col-lg-9 order-1 order-lg-2">
      <%= simple_form_for [@entry] do |f| %>
        <%= f.association :tags, collection: current_user.tags.uniq, input_html: { class: 'select2', multiple: "multiple", id: 'entry-tags-div' } %> <!--NEED TO FILTER for current user -->
        <%= f.input :title, input_html: { class: 'form-control' } %>
        <%= f.input :content, input_html: { class: 'form-control' } %>
        <%= f.hidden_field :start_entry %>
        <%= f.input :emoji, collection: ["Happy", "Neutral", "Sad", "Angry"] %>
        <%= f.input :location, input_html: { class: 'form-control auto-address' } %>
        <%= f.button :submit, class: "btn btn-solid" %>
      <% end %>
    </div>
  </div>
</div>
