<br>

<div class="container p-3 mt-5" id="new-entry">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col-lg-3 order-2 order-lg-1">
      <p>Reminders:</p>
      <% @reminders.each do |reminder| %>
          <button type="button" data-content="<%= JSON.generate({ id: reminder.id, title: reminder.title }) %>" class="btn btn-outline-info btn-sm mb-2" id="btn-reminder-<%= reminder.id %>"><%= reminder.title %></button>
      <% end %>
    </div>

    <div class="col-lg-9 order-1 order-lg-2">
      <%= simple_form_for [@entry] do |f| %>
        <%= f.association :tags, collection: current_user.tags.uniq, input_html: { class: 'select2', multiple: "multiple", id: 'entry-tags-div' } %> <!--NEED TO FILTER for current user -->
        <%= f.input :title, input_html: { class: 'form-control' } %>
        <%= f.input :content, input_html: { class: 'form-control' } %>
        <%= f.hidden_field :start_entry %>
        <%= f.input :location, input_html: { class: 'form-control auto-address' } %>
        <ul class="feedback" id="emoji-list">
          <li class="angry">
          <div>
            <svg class="eye left">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
              </svg>
            </svg>
            <svg class="eye right">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
              </svg>                    </svg>
              <svg class="mouth">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                  <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                </svg>                    </svg>
              </div>
            </li>
            <li class="sad">
              <div>
                <svg class="eye left">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                    <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                  </svg>                    </svg>
                  <svg class="eye right">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                      <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                    </svg>                    </svg>
                    <svg class="mouth">

                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                        <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                      </svg>                    </svg>
                    </div>
                  </li>
                  <li class="ok active">
                    <div></div>
                  </li>
                  <li class="good">
                    <div>
                      <svg class="eye left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                          <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                        </svg>                    </svg>
                        <svg class="eye right">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                            <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                          </svg>                    </svg>
                          <svg class="mouth">

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 7" id="mouth">
                              <path d="M1,5.5 C3.66666667,2.5 6.33333333,1 9,1 C11.6666667,1 14.3333333,2.5 17,5.5"></path>
                            </svg>                    </svg>
                          </div>
                        </li>
                        <li class="happy">
                          <div>
                            <svg class="eye left">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                                <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                              </svg>                    </svg>
                              <svg class="eye right">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 4" id="eye">
                                  <path d="M1,1 C1.83333333,2.16666667 2.66666667,2.75 3.5,2.75 C4.33333333,2.75 5.16666667,2.16666667 6,1"></path>
                                </svg>                    </svg>
                              </div>
                            </li>
        </ul>
        <%= f.hidden_field :emoji, value: "ok", id: "emoji-value"%>
        <%= f.button :submit, class: "btn btn-solid" %>
      <% end %>
    </div>
  </div>
</div>
