
<div class="entry-analytics-container row justify-content-center mt-5">
  <h2 class="text-center col-12 mt-3">My Journaling Analytics</h2>

  <div class="p-3 col-11 row justify-content-center">

    <div class="analytics-left col-lg-8 col-sm-12 col-12 p-4">
      <div class="analytics-table table-wrapper-scroll-y my-customem-scrollbar">
        <table>
          <thead>
            <tr>
              <th>Emoji</th>
              <th>Number of entries</th>
              <th>Average word count</th>
              <th>Average writing time</th>
              <th>Emotion</th>
              <th>Average temperature</th>
            </tr>
          </thead>
          <tbody>
            <% @user.emojies.each do |emoji| %>
            <tr>
              <td><%= render "shared/emoji", emoji: emoji %></td>
              <td><%= @user.emoji_count(emoji) %></td>
              <td><%= @user.word_average(emoji) %></td>
              <td><%= @user.time_average(emoji) %></td>
              <td></td>
              <td><%= @user.temp_average(emoji) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="mt-3" id="regions_div" data-region="<%= @region %>">
      </div>
    </div>

    <div class="analytics-right col-lg-4 col-sm-12 col-12 p-4">
      <div class="word-tags">
        <h6 class="entry-header">Journaling tags</h6>
        <div class="d-flex justify-content-start align-items-center flex-wrap mb-4">
            <% @user.tags.each do |tag| %>
            <div class="tag px-2 mr-1 mt-1">
              <span><%= tag.title %></span>
            </div>
            <% end %>
        </div>
      </div>
      <div class="word-cloud mt-4">
        <h6 class="entry-header">Most Used Words</h6>
        <div id="word-graph" data-words=<%= @data.to_json %>></div>
      </div>
    </div>

  </div>
</div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var dataInformation = JSON.parse(document.querySelector("#regions_div").dataset["region"]);
        console.log(dataInformation);
        var data = google.visualization.arrayToDataTable(dataInformation);
        var options = {
          colorAxis: {colors: ['#F18065', '#891B00']},
          backgroundColor: '#fff',
          datalessRegionColor: '#F8F6F5',
          defaultColor: '#F8F6F5',
        };
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
      }

</script>

<script>
  anychart.onDocumentReady(function() {
    var data = JSON.parse(document.querySelector('#word-graph').dataset["words"]);

   // create a tag (word) cloud chart
   var chart = anychart.tagCloud(data);

    // set an array of angles at which the words will be laid out
    chart.angles([0, -30, 30])
    // enable a color range
    var customColorScale = anychart.scales.linearColor();
    customColorScale.colors(["#A29B9A", "#891B00"]);

    // set the color scale as the color scale of the chart
    chart.colorScale(customColorScale);

    // add a color range
    chart.colorRange().enabled(false);

    chart.listen("pointClick", function(e){
      var url = "/entries?utf8=✓&search%5Bquery%5D=" + e.point.get("x");
      window.open(url, "_blank");
    });
    // display the word cloud chart
    chart.container("word-graph");
    chart.draw();
  });
</script>


     <!--  <div>
        <%= line_chart User.group_by_week(:created_at).count %>
      </div> -->
