
<div class="entry-analytics-container row justify-content-center mt-5">
  <h2 class="text-center col-12 mt-3">My Journaling Analytics</h2>

  <div class="p-3 col-11 row justify-content-center">

    <div class="analytics-information col-lg-6 col-sm-12 col-12 p-4">
      <div class="analytics-table table-wrapper-scroll-y my-customem-scrollbar">
        <table>
          <thead>
            <tr>
              <th>Emoji</th>
              <th>Number of entries</th>
              <th>Average word count</th>
              <th>Average writing time</th>
              <th>Emotion</th>
              <th>Average temperature</th>
            </tr>
          </thead>
          <tbody>
            <% @user.emojies.each do |emoji| %>
            <tr>
              <td><%= render "shared/emoji", emoji: emoji %></td>
              <td><%= @user.emoji_count(emoji) %></td>
              <td><%= @user.word_average(emoji) %></td>
              <td><%= @user.time_average(emoji) %></td>
              <td></td>
              <td><%= @user.temp_average(emoji) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="regions_div" data-region="<%= @region %>" style="width: 100%">
      </div>
    </div>

    <div class="analytics-information col-lg-6 col-sm-12 col-12 p-4">
      <div class="d-flex justify-content-start align-items-center flex-wrap mb-4">
        <% @user.tags.each do |tag| %>
        <div class="tag px-2 mr-1 mt-1">
          <span><%= tag.title %></span>
        </div>
        <% end %>
      </div>
      <div class="word-cloud">
      </div>
    </div>

  </div>
</div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var dataInformation = JSON.parse(document.querySelector("#regions_div").dataset["region"]);
        console.log(dataInformation);
        var data = google.visualization.arrayToDataTable(dataInformation);
        var options = {
          colorAxis: {colors: ['#F18065', '#891B00']},
          backgroundColor: '#fff',
          datalessRegionColor: '#F8F6F5',
          defaultColor: '#F8F6F5',
        };
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
      }

</script>

     <!--  <div>
        <%= line_chart User.group_by_week(:created_at).count %>
      </div> -->
