<%- title "JRNLD - dashboard" %>
<div class="bg-white flex-grow-1 mt-4">

  <div class="container pt-5 my-5">
    <div class="dashboard-header">
      <h5><%= Date.today.strftime('%A, %B %d') %></h5>
      <h1>Welcome, <%= current_user.first_name %>!</h1>
    </div>

    <div class="row mt-5">
      <% if current_user.entries.empty? %>
        <div class="col-12">
          <%= link_to new_entry_path, class: 'task-card-link' do %>
            <div class="task-card">
              <figure>
                <i class="fas fa-edit" id="edit-symbol-dashboard"></i>
              </figure>
               <h3 class="task-title">Start new entry</h3>
               <p class="task-description">Capture daily thoughts, emotions and images.</p>
            </div>
          <% end %>
        </div>

      <% else %>
        <div class="col-12 col-lg-4 mb-3">
          <%= link_to new_entry_path, class: 'task-card-link' do %>
            <div class="task-card">
              <figure>
                <i class="fas fa-edit" id="edit-symbol-dashboard"></i>
              </figure>
              <h3 class="task-title">Start new entry</h3>
              <p class="task-description">Capture daily thoughts, emotions and images.</p>
            </div>
          <% end %>
        </div>

        <div class="col-12 col-lg-4 mb-3">
          <%= link_to entries_path, class: 'task-card-link' do %>
            <div class="task-card">
              <figure>
                <i class="fas fa-list"></i>
              </figure>
              <h3 class="task-title">View all entries</h3>
              <p class="task-description">View or search for journal entries.</p>
            </div>
          <% end %>
        </div>

        <div class="col-12 col-lg-4 mb-3">
          <%= link_to analytics_path, class: 'task-card-link' do %>
            <div class="task-card">
              <figure>
                <i class="fas fa-chart-bar"></i>
              </figure>
              <h3 class="task-title">My analytics</h3>
              <p class="task-description">Get insights from JRNLD analytics.</p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
