<div class="container d-flex flex-column justify-content-center mt-5 p-5">
  <h2>What do you want to journal about?</h1>
  <form action="/preferences" method= "post">
    <div class="default-reminders d-flex flex-wrap justify-content-around">
      <% i = 0 %>
      <% if current_user.reminders.empty? %>
        <% @default_reminders.each do |reminder| %>
          <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
          <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %>>
          <% i += 1 %>
        <% end %>
      <% end %>
        <% @user_reminders.each do |reminder| %>
        <div class="btn-ghost reminder active"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
        <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %>>
        <% i += 1 %>
      <% end %>
    </div>

    <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %>>
    <input type="submit" value="Set reminders">
  </form>



    <div class="d-flex justify-content-around">
      <%= simple_form_for @reminder, url: reminders_path do |f| %>
        <%= f.input :title, placeholder: "Add your own!", label: false %>
        <%f.hidden_field :user_id, value: current_user.id %>
        <%= f.button :submit%>
      <% end %>
    </div>
</div>
