<div class="container d-flex flex-column justify-content-center mt-5 p-5">
  <h2>What do you want to journal about?</h1>
  <form action="/preferences" method= "post">
    <div class="default-reminders d-flex flex-wrap justify-content-around">
      <% @reminders.each do |reminder| %>
        <div class="btn-ghost reminder active"><input style="width:100%; height: 100%; display: none;" class="boolean optional" type="checkbox"><%= reminder %></div>
      <% end %>
    </div>
    <input type="submit">
  </form>



    <div class="d-flex justify-content-around">
      <%= simple_form_for @reminder, url: reminders_path do |f| %>
        <%= f.input :title, placeholder: "Add your own!", label: false %>
        <%f.hidden_field :user_id, value: current_user.id %>
        <%= f.button :submit%>
      <% end %>
    </div>


    <%= simple_form_for @user do |f| %>
      <%= f.input :notifications, collection: @notifications %>
    <% end %>
    <label for="notifications-frequency"><h2>How often do you want to receive notifications?</h2></label>
    <select id="notifications-frequency">
      <option value="Twice a day">Twice a day</option>
      <option value="Once a day">Once a day</option>
      <option value="Once per week">Once per week</option>
      <option value="Never">Never</option>
    </select>


</div>
