<%- title "JRNLD - preferences" %>

<div class="col-lg-8 col-sm-12 col-12 d-flex flex-column justify-content-center m-auto">

      <div class="profile-reminders p-4">
        <h4 class="profile-header my-2">Set journaling reminders</h4>
          <div class="d-flex justify-content-between" id="reminder-title">
            <input label= false id="new-reminder" placeholder="New reminder" autocomplete="off"></input>
            <button class="btn btn-solid" id="plus-reminder" data-form="<%=  %>">Add</button>
          </div>

      <form action="/preferences" method= "post">
        <div class="default-reminders row flex-wrap py-3 mx-0">
          <% i = 0 %>
          <% if current_user.reminders.empty? %>
            <% @default_reminders.each do |reminder| %>
              <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %>>
              <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
              <% i += 1 %>
            <% end %>
          <% else %>
          <% @user_reminders.each do |reminder| %>
            <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %> checked>
            <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
            <% i += 1 %>
          <% end %>
          <% end %>
        </div>
            <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %>>
            <input type="submit" class="btn btn-solid" value="Journal now!">
      </form>
    </div>
</div>
