<div class="container d-flex flex-column justify-content-center mt-5 p-5">

    <div class="row justify-content-center" id="reminder-title">
      <textarea rows="2" class="col-9 row" label= false id="new-reminder" placeholder="What do you want to journal about?" autocomplete="off"></textarea>
      <i class="fas fa-plus-circle" id="plus-reminder" data-form="<%=  %>"></i>
    </div>

  <form action="/preferences" method= "post">
    <div class="default-reminders row flex-wrap justify-content-center">
      <% i = 0 %>
      <% if current_user.reminders.empty? %>
        <% @default_reminders.each do |reminder| %>
          <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %>>
          <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
          <% i += 1 %>
        <% end %>
      <% end %>
      <% @user_reminders.each do |reminder| %>
        <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %> checked>
        <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
        <% i += 1 %>
      <% end %>
    </div>

    <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %>>
    <input type="submit" value="Set reminders" class="btn-ghost w-100">
  </form>
</div>
