<div class="profile-container row justify-content-center mt-5 pb-5">

  <h2 class="text-center col-12 mt-3">My Profile</h2>

  <div class="profile-information p-3 col-11 row justify-content-center">

    <div class="col-lg-6 col-sm-12 col-12 py-4 px-5">
      <div class="profile-picture d-flex justify-content-center justify-items-center p-3">
        <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 500, width: 400, crop: :fill, class: "avatar-large mt-2" %>
      <% else %>
        <%= image_tag 'default-avatar.svg', class: "avatar-large mt-2" %>
      <% end %>
      </div>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :birthday %>
        <%= f.input :gender %>
        <%= f.input :photo, as: :file, label: "Picture" %>
        <%= f.button :submit, "Save Changes", class: "btn btn-solid" %>
      <% end %>

      <div data-toggle="modal" data-target="#passwordModal" class="profile-link my-2">
        Change password
      </div>

      <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(@user) do |f| %>
              <%= f.input :old_password %>
              <%= f.input :password, label: "New password" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ghost" data-dismiss="modal">Close</button>
              <%= f.button :submit, "Confirm", class: "btn btn-solid" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div data-toggle="modal" data-target="#deleteModal" class="profile-link my-2">
        Delete account
      </div>

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your account?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-ghost" data-dismiss="modal">Close</button>
              <%= link_to "Delete", user_path(current_user), method: :delete, class: "btn btn-ghost" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12 col-12 d-flex flex-column justify-content-start">

      <div class="profile-reminders p-4">
        <h4 class="profile-header my-2">Set journaling reminders</h4>
          <div class="d-flex justify-content-between" id="reminder-title">
            <input label= false id="new-reminder" placeholder="New reminder" autocomplete="off"></input>
            <button class="btn btn-ghost" id="plus-reminder" data-form="<%=  %>">Add</button>
          </div>

        <form action="/preferences" method= "post">
          <div class="default-reminders row flex-wrap py-3 mx-0">
            <% i = 0 %>
            <% if current_user.reminders.empty? %>
              <% @default_reminders.each do |reminder| %>
                <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %>>
                <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
                <% i += 1 %>
              <% end %>
            <% else %>
              <% @user_reminders.each do |reminder| %>
                <input id="reminder-check-<%= i %>" class ="reminder-check" name="reminder-<%= i %>" type="checkbox" value=<%= reminder.title %> checked>
                <div class="btn-ghost reminder"><label for="reminder-check-<%= i %>" class="reminder-label"><%= reminder.title %></label></div>
                <% i += 1 %>
              <% end %>
            <% end %>
          </div>
            <input type="hidden" name="authenticity_token" value= <%= form_authenticity_token %>>
            <input type="submit" class="btn btn-solid" value="Save changes">
        </form>
      </div>

        <div class="profile-reminders p-4 mt-3">
          <h4 class="profile-header my-2">Set notifications frequency</h4>
          <%= simple_form_for @user do |f| %>
            <%= f.input :notifications, collection: @notifications, label: false %>
            <%= f.button :submit, "Save Changes", class: "btn btn-solid" %>
          <% end %>
        </div>
        </div>
      </div>
</div>
