<div class="profile-container row justify-content-center mt-5">
  <h2 class="text-center col-12 my-3">My Profile</h2>
  <div class="profile-information col-10 row justify-content-center">
    <h4 class="profile-header my-2 col-11">Profile information</h4>
    <div class="profile-picture d-flex p-3 col-lg-3 col-sm-4 col-12">
      <%= image_tag 'default-avatar.png', class: "avatar-large mt-2" %>
    </div>
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :birthday %>
      <%= f.input :gender %>
      <%= f.submit %>
    <% end %>
    <div class="profile-reminders my-4 col-10 row justify-content-center">
      <h4 class="profile-header my-2 col-11">My journaling reminders</h4>
      <div class="reminders-list col-lg-10 col-11">
        <% current_user.reminders.each do |reminder| %>
        <div class="btn btn-solid"><%= reminder.title %></div>
        <% end %>
      </div>
      <div class="edit-content text-center col-11">
        <%= link_to "Edit reminders", "#", class: "btn btn-ghost" %>
      </div>
    </div>

  </div>
</div>
