<%- title "JRNLD - forgot password" %>

<div class="devise-body h-100">
  <div class="container d-flex justify-content-center align-items-center mt-5 pt-3">
    <div class="devise-form mb-3 mb-md-5 mx-md-5 mt-3 mt-md-4 p-4 p-md-5 rounded col-xs-8 col-md-8 shadow">
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs mt-3">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Reset password", class: "btn-solid" %>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
