<div class="banner mt-5 py-5">
  <div class="banner-content d-flex flex-column justify-content-start" style="height: 500px;">
    <div>
      <h3 class="text-center">
        <span id="banner-typed-text"></span>
      </h3>
    </div>
    <a class="btn btn-ghost align-self-center px-5" href="/users/sign_up">Start journaling now!</a>
    <p>Already a member?</p>
    <p class="log-in"><%= link_to "Log-in to your account", "/users/sign_in" %></p>
  </div>
</div>

<div class="d-flex justify-content-center bg-white">
  <div class="col-md-9">
    <%= video_tag 'new-entry-clip.mp4', class: 'w-100 new-entry-picture', muted: 'muted', autoplay: "autoplay", loop: "loop" %>
  </div>
</div>

<div class="features-section">
  <div class="features-container-header">
    <span class="meet-jrnld">MEET JRNLD</span>
    <h4 class="pt-3">Simple. Smart. Secure. </h4>
  </div>
  <div class="feature-container">
    <div class="features-list row justify-content-center">
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-pencil-alt"></i>
          </figure>
          <h3 class="feature-title">Simple</h3>
          <p class="feature-description">Capture your daily thoughts, emotions and images in our simple and easy-to-use format.</p>
        </div>
      </div>
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-chart-bar"></i>
          </figure>
          <h3 class="feature-title">Smart</h3>
          <p class="feature-description">Get insights on your emotions and behaviour and track your personal data thanks to our smart word recognition technology.</p>
        </div>
      </div>
      <div class="feature-container col-lg-4 col-sm-7 col-11">
        <div class="feature-card">
          <figure>
            <i class="fas fa-lock"></i>
          </figure>
          <h3 class="feature-title">Secure</h3>
          <p class="feature-description">Privacy protected with industry leading end-to-end encryption. Your data stays private.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map-section">
  <div class="maps-container">
    <div class="maps-list row justify-content-center">
      <div class="maps-container d-flex flex-column justify-content-start col-lg-4 px-3">
        <div class="d-flex">
          <i class="fas fa-map-marked-alt pr-2"></i>
          <h3 class="mb-0">Maps</h3>
        </div>
        <span class="pt-4 text-justify">JRNLD let's you easily track the location of your journal entries around the world. Our map is flexible and robust, allowing you to better understand your mobility habits, while also giving you the ability to view journals by city, country, or region. </span>
        <a class="btn btn-ghost align-self-start ml-0 border-0" href="/users/sign_up">Get started</a>
      </div>
      <div class="maps-container col-lg-6">
        <%= image_tag 'My Map.jpg', class: 'w-100 map-image align-self-start' %>
      </div>
    </div>
  </div>
</div>

<div class="analytics-section">
  <div class="maps-container">
    <div class="maps-list row justify-content-center">
      <div class="maps-container col-md-11 col-lg-7">
        <%= image_tag 'allemotions.png', class: 'w-100 analytics-image align-self-start' %>
      </div>
      <div class="maps-container d-flex flex-column justify-content-start col-md-11 col-lg-4 px-3">
        <div class="d-flex justify-content-end">
          <i class="fas fa-chart-bar pr-2"></i>
          <h3 class="mb-0">Analytics</h3>
        </div>
        <span class="pt-4 text-justify">JRNLD's analytics module incorporates world-class natural language processing and algorithimic APIs to help you make the most of your daily journal. From interpretting semantics to interpreting the emotional undertones of your writing, you will now be able to better understand yourself, your thoughts, and your habits. JRNLD also tracks weather patterns, the people you write about, and the places you visit to help you understand trends and feel better.</span>
        <a class="btn btn-solid align-self-end ml-0" href="/users/sign_up">Get started</a>
      </div>
    </div>
  </div>
</div>

<div class="additional-section">
  <h3 class="mb-0 mt-4 text-center">A variety of additional features...</h3>
  <div class="additional-container d-flex flex-wrap justify-content-around">
    <div class="maps-container col-lg-5 col-sm-12 d-flex flex-column other-image bg-white pt-4">
      <div class="d-flex justify-content-center pb-2">
        <i class="fas fa-bell pr-2"></i>
        <h3 class="mb-0">Notifications</h3>
      </div>
      <h6 class="text-center pb-1">never forget to journal.</h6>
      <%= image_tag 'frequency.png', class: 'w-100' %>
    </div>
    <div class="additional-container col-lg-5 col-sm-12 d-flex flex-column other-image bg-white pt-4">
      <div class="d-flex justify-content-center pb-2">
        <i class="fas fa-sticky-note pr-2"></i>
        <h3 class="mb-0">Reminders</h3>
      </div>
      <h6 class="text-center pb-1">journal about what matters.</h6>
      <%= image_tag 'reminders1.png', class: 'w-100' %>
    </div>
  </div>
</div>

<div class="contact-section">
  <h3 class="mb-5 mt-2 text-center">A Global Presence</h3>
  <div class="locations-container d-flex flex-wrap justify-content-around mt-3">
    <%= render "contact_item", {location: "Buenos Aires, Argentina", phone: " +54 9 11 5571 9154", photo:"Argentina.png" } %>
    <%= render "contact_item", {location: "Chicago, United States", phone: " +1 224 875 0500", photo:"USA.png" } %>
    <%= render "contact_item", {location: "Hong Kong, Hong Kong", phone: " +1 647 285 8516", photo:"Hong Kong.png" } %>
    <%= render "contact_item", {location: "Paris, France", phone: " +49 1516 461 2270", photo:"France.png" } %>
  </div>
</div>


